<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moh.mohhtun.dailyworkout">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/fitness_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.moh.mohhtun.dailyworkout.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Upper.UpperBodyActivity" />
        <activity android:name=".Core.CoreActivity" />
        <activity android:name=".Polymetric.PolymetricActivity" />
        <activity android:name=".Lower.LowerBodyActivity" />
        <activity android:name=".Upper.StartWorkoutUpperBody" />
        <activity android:name=".Lower.StartWorkOutLowerBody" />
        <activity android:name=".Core.CoreActivity$StartWorkOutCore" />
        <activity android:name=".Polymetric.StartWorkOutPolymetric" />
        <activity android:name=".alarm.AlarmActivity" />

        <receiver android:name=".alarm.AlarmReceiver" />

        <activity
            android:name=".timer.Timer2Activity"
            android:label="@string/title_activity_timer2" />
        <activity
            android:name=".Upper.UpperInfoActivity"
            android:label="@string/title_activity_info" />
        <activity
            android:name=".Lower.LowerInfoActivity"
            android:label="@string/title_activity_info" />
        <activity
            android:name=".Core.CoreInfoActivity"
            android:label="@string/title_activity_info" />
        <activity
            android:name=".Polymetric.PolymetricInfoActivity"
            android:label="@string/title_activity_info" />
        <activity
            android:name="com.moh.mohhtun.dailyworkout.AboutActivity"
            android:label="@string/title_activity_about">
        </activity>
    </application>

</manifest>
