<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mohmohhtun.dailyworkout" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/fitness_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UpperBodyActivity" />
        <activity android:name=".CoreActivity" />
        <activity android:name=".PolymetricActivity" />
        <activity android:name=".LowerBodyActivity" />
        <activity android:name=".StartWorkoutUpperBody" />
        <activity android:name=".StartWorkOutLowerBody" />
        <activity android:name=".StartWorkOutCore" />
        <activity android:name=".StartWorkOutPolymetric" />
        <activity android:name=".AlarmActivity" />

        <receiver android:name=".AlarmReceiver" />

        <activity
            android:name=".Timer2Activity"
            android:label="@string/title_activity_timer2" />
        <activity
            android:name=".UpperInfoActivity"
            android:label="@string/title_activity_info" />
        <activity
            android:name=".LowerInfoActivity"
            android:label="@string/title_activity_info" />
        <activity
            android:name=".CoreInfoActivity"
            android:label="@string/title_activity_info" />
        <activity
            android:name=".PolymetricInfoActivity"
            android:label="@string/title_activity_info" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about">
        </activity>
    </application>

</manifest>
